<form action="/messages" method="POST" id="message_form" xmlns="http://www.w3.org/1999/html">
	<input type="hidden" name="_method" value="POST"/>
	<p>
        <label for="message[text]">Message:</label>
 		<textarea type="text" name="message[text]" id="message_text"/> </textarea>
	</p>
    <p>Use at least 1 symbol till 16.</p>
    <p id="wrong_pass_tip" class="hide">Your pass is invalid. Enter another one.</p>
	<p>
        <label>Password:</label>
   		<input type="text" id="message_password"/>
    </p>
	<p> 
		<input type="radio" name = "message[deadline_type]" value="time">Deadline
        <input type="radio" name = "message[deadline_type]" value="count" checked>First link visit

	</p>
	<p>
      <input type="number" name="message[deadline]" min="1" value="1"/>
	</p>
	<input type="submit" value="save">
</form>

<% if message_creation_result == 'message_creation_failure' %>
Some bad message
<% elsif message_creation_result == 'new_message' %>
Link to your message <a href='<%= url("/messages/#{session['new_message_key']}") %>'>new message</a>
<% end %>
<script src="/js/index.js"></script>
