<form action="/messages" method="POST" id="message_form">
	<input type="hidden" name="_method" value="POST"/>
    <input type="hidden" name="message[text]" id="hidden_text">
	<p>
        <label>Message:</label>
 		<textarea type="text" id="message_text"></textarea>
	</p>
    <p>Use at least 1 symbol till 16.</p>
    <p id="wrong_pass_tip" class="hide">Your pass is invalid. Enter another one.</p>
	<p>
        <label>Password:</label>
   		<input type="text" id="message_password"/>
    </p>
	<p> 
		<input type="radio" name = "message[deadline_type]" value="time">Deadline
        <input type="radio" name = "message[deadline_type]" value="count" checked>First link visit

	</p>
	<p>
      <input type="number" name="message[deadline]" min="1" value="1"/>
	</p>
	<input type="submit" value="save">
</form>

<% if bad_message? %>
    Some bad message
<% elsif message_saved? %>
    <p>
      Link to your message: <a id="new_message_url" href='<%= url("/messages/#{new_message_key}") %>'>new message</a>
    </p>
    <p>
      Or <button id="copy_button">Copy</button> the link.
    </p>
<% end %>
<script src="/js/index.js"></script>
